@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic page styles */
html,body,#root {
  height: 100%;
}
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Modal animation */
@keyframes pop {
  from { transform: scale(0.96); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}
.modal-pop {
  animation: pop 0.18s ease-out;
}

/* Post appear */
@keyframes slideUp {
  from { transform: translateY(8px); opacity: 0 }
  to { transform: translateY(0); opacity: 1 }
}
.post-appear {
  animation: slideUp 0.18s ease-out;
}

/* small utilities */
.shadow-soft {
  box-shadow: 0 6px 20px rgb(135 124 157 / 35%);
}

/* Remove MUI Outline Border */
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Remove focus border */
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Remove hover border */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

/* Remove default border wrapper */
.MuiTiptap-FieldContainer-root,
.MuiTiptap-RichTextField-root {
  border: none !important;
  box-shadow: none !important;
}

/* Remove focus ring */
.MuiInputBase-root.Mui-focused {
  box-shadow: none !important;
  outline: none !important;
}

/* Remove Tiptap ProseMirror focus outline */
.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}